
    

.intro {
    margin: 5vh 20vw;
    p {
        color: $color-5;
        line-height: 2.5rem;
        font-size: 1.5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: justify;
        span {
            font-weight: bold;
        }
    }
}   



