body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


$font-1: "font-1", sans-serif;

// $color-1: #ffa69e;
// $color-2: #faf3dd;
// $color-3: #b8f2e6;
// $color-4: #aed9e0;
// $color-5: #5e6472;

// $color-1: #0081a7;
// $color-2: #00afb9;
// $color-3: #fdfcdc;
// $color-4: #fed9b7;
// $color-5: #f07167;


$color-1: #0367A6;
$color-2: #04D9C4;
$color-23: #04d9c429;

$color-3: #0DF205;
$color-4: #F29F05;
$color-5: #0D0D0D;





// couleurs test pour éventuelle image de fond
// $color-6: rgba(255, 255, 255, 0.7)
// $color-21: rgba(255, 255, 255, 0.9);
// $color-22: rgba(255, 255, 255, 0.7);


